.text{
    font-family: Helvetica, sans-serif	;
}
.text2{
    font-size: 400%;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
h1{
    color: white;
}
h2{
    font-family: arial, sans-serif;
}